body {
  background-color: #232323;
}

#container {
  max-width: 600;
  margin: 0 auto;
}

.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

h1 {
  color: #f2f2f2;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}

.selected {
  background-color: blue;
}